
  group fujisawa 10 match domain-suffix .fujisawa.wide.ad.jp
  group otemachi 10 match domain-suffix .otemachi.wide.ad.jp
  group notemachi 10 match domain-suffix .notemachi.wide.ad.jp
  group tokyo 10 match domain-suffix .tokyo.wide.ad.jp
  group yagami 10 match domain-suffix .yagami.wide.ad.jp
  group osaka 10 match domain-suffix .osaka.wide.ad.jp
  group nezu 10 match domain-suffix .nezu.wide.ad.jp
  group dojima 10 match domain-suffix .dojima.wide.ad.jp
  group sakyo 10 match domain-suffix .sakyo.wide.ad.jp
  group kurashiki 10 match domain-suffix .kurashiki.wide.ad.jp
  group fukuoka 10 match domain-suffix .fukuoka.wide.ad.jp
  group komatsu 10 match domain-suffix .komatsu.wide.ad.jp
  group SanFrancisco 10 match domain-suffix .SanFrancisco.wide.ad.jp
  group nara 10 match domain-suffix .nara.wide.ad.jp

graph 100
exit

graph 200
exit
